@font-face {
    font-family: Panton-BlackCaps;
    src: url("fonts/Panton-BlackCaps.otf");
}
@font-face {
    font-family: Panton-LightCaps;
    src: url("fonts/Panton-LightCaps.otf");
}
body {
    background-color: #131313;
    font-family: 'Panton-BlackCaps';
    overflow: hidden;
    
}
.text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.reset {
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    margin-top: 15%;
}
.gamepass {
    font-size: 2.5vw;
    color: rgb(60, 255, 0);
    margin-top: 15%;
    margin-left: 10px;
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
}
.reset2 {
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    margin-top: 15%;
    margin-left: 10px;
}
footer {
    color: rgb(255, 255, 255);
    margin: 10% auto;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    opacity: 0.6;
    
}
.credit {
    color: rgb(0, 195, 255);
    margin-top: 40%;
    margin-left: 10px;
    text-shadow: 3px 3px 1.5px rgb(0, 0, 0);
    text-decoration: none; 
}
.logo {
    margin-top:5px;
    width: 60px;
    height: 60px;
    align-items: center;
    text-shadow: 3px 3px 1.5px rgb(0, 0, 0);
}
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#mycountdown {
    font-size: 4vw;
    color: rgb(255, 255, 255);
    padding-top: 2%;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);


}